xml-resources/web-service-references/CurrencyMethods/wsdl/localhost_8080/CurrencyWS/CurrencyMethods.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Currency/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Currency/">

<xs:element name="convertCDNDollar" type="tns:convertCDNDollar"/>

<xs:element name="convertCDNDollarResponse" type="tns:convertCDNDollarResponse"/>

<xs:element name="convertEuro" type="tns:convertEuro"/>

<xs:element name="convertEuroResponse" type="tns:convertEuroResponse"/>

<xs:element name="convertPound" type="tns:convertPound"/>

<xs:element name="convertPoundResponse" type="tns:convertPoundResponse"/>

<xs:element name="convertYen" type="tns:convertYen"/>

<xs:element name="convertYenResponse" type="tns:convertYenResponse"/>

<xs:complexType name="convertYen">
<xs:sequence>
<xs:element name="dollar" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertYenResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertEuro">
<xs:sequence>
<xs:element name="dollar" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertEuroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertPound">
<xs:sequence>
<xs:element name="dollar" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertPoundResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertCDNDollar">
<xs:sequence>
<xs:element name="dollar" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertCDNDollarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>